<!DOCTYPE html>
<html>
<head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,700&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		
</head>
<body style = "font-family: Lato;">
  
 <div class="row">
  <div style="text-align:center; margin : 20px auto;" class="col-xs-12">
   
      <div class="jumbotron" style="background-color: #58B19F">
          <h1>Control Extension Cord Relay</h1>
      </div>
          <h2>State:<span id="status"></span></h2>
          <h3>Connected Device:<span id="device"></span></h3>
        
        <button onclick="ledState(1)" id="onButton" class="btn btn-primary input-group btn-lg" style="margin-bottom:20px; background-color:#BDC3C7">RELAY ON</button>
        <button onclick="ledState(0)" id="offButton" class="btn btn-primary input-group btn-lg" style = "background-color:#BDC3C7">RELAY OFF</button><br>
        <a href="http://206.189.142.198:1111/devices"class="btn btn-primary input-group btn-lg"style = "background-color:#BDC3C7; margin-bottom:20px;">DEVICES</a>
        <a href="http://206.189.142.198:1111/messages"class="btn btn-primary input-group btn-lg"style = "background-color:#BDC3C7; margin-bottom:20px;">MESSAGES</a>
        <a href="http://206.189.142.198:1111/graph"class="btn btn-primary input-group btn-lg"style = "background-color:#BDC3C7; margin-bottom:20px;">GRAPH</a>
	</div>
</div>

<script type="text/javascript">
    $('#onButton').click(function() {
      $('#status').text('ON');
      $("#device").text(clientId);
    });
    $('#offButton').click(function() {
      $('#status').text('OFF');
      $("#device").text(clientId);
    });

    function makeid(length) {
        var result           = '';
        var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        var charactersLength = characters.length;
        for ( var i = 0; i < length; i++ ) {
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
        }
        return result;
      }


  // Create a client instance
  // ############# ATTENTION: Enter Your MQTT TLS Port and host######## Supports only TLS Port
     var clientId =  "clientid_" + makeid(12);
     var client = new Paho.MQTT.Client("206.189.142.198",  8000 , clientId);
 
  // set callback handlers
  client.onConnectionLost = function onConnectionLost(responseObject) {
    if (responseObject.errorCode !== 0) {
      console.log("onConnectionLost:"+responseObject.errorMessage);
    }
  };
  client.onMessageArrived = function onMessageArrived(message) {
    console.log("onMessageArrived:"+message.payloadString);
  };
 
 //############# ATTENTION: Enter Your MQTT user and password details ########  
 var options = {
    timeout : 3 ,
    onSuccess:function(){
      console.log("onConnect");
      client.subscribe("cmnd/sonoff-ext/POWER");
    },
    onFailure:function(e){
      console.log(e);
    }
  };

  

  // connect the client
  client.connect(options);
  

  function ledState(state) {
    if(state == 1) {

      message = new Paho.MQTT.Message(String("ON" + clientId));    
    }
    if(state == 0) { message = new Paho.MQTT.Message(String("OFF" + clientId));
    }
    message.destinationName = "cmnd/sonoff-ext/POWER";
    client.send(message);
  }

 
</script>
</body>
</html>